body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 5rem;
  /* white-space: nowrap; */
}

.emoji {
  cursor: pointer;
}

/* div .emoji {
  display: inline-block;
} */

/* .emoji.open {
  display: none;
} */

.emoji.active {
  display: none;
}
